body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 115px;
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: #FFF; /* change to desired color */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    box-shadow: 0 3px 3px -1px rgba(0,0,0,.2);
    display: inline;
    z-index: 10;

}
.nav-logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
    background-color: #FFF;

}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

.menubar-button-section {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;    /* if you want it vertically middle of the navbar */
  font-weight: 700;
  font-size: 18px;
}

.navigation-bar .menubar-button:hover {
  color: #3A3A3A;
}

.menubar-button {
  color: #919191;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.landing-grid-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%;
  width: 80%;
  margin-left: 5%;
}

.landing-heading {
  display: inline;
  z-index: 5;
  margin-top: 5%;
  margin-right: -60px;
  margin-bottom: 0;
  margin-left: 15%;
  color: #000;
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
  text-align: left;

}

.landing-page-image {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  right: -40px;
  bottom: -20px;
}

.landing-subtitle-div {
  position: relative;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  padding: 10px;
  bottom: 100px;
  left: 120px;
}

.landing-button {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #EA3E3B;
  color: #FFF;
  margin-top: 25px;
  font-size: 20;
  top: 20px;
  left: 40px;
  z-index: 6;
}

.landing-button:hover {
  background-color: #396941;
  color: #FFF;
}

span.green-text {
    color: #396941;
}

.green-content {
  background-color: #396941;
  color: #FFF;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
}

.green-content > div {
  width: 100%;
}

.green-video-section {
  width: 100;
}

.green-video-section h1 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 50px;
  margin-bottom: 50px;
  line-height: 40px;
}

.green-video-section h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.green-video {
  margin-bottom: 50px;
}

.green-section.red-button {
  text-transform: uppercase;
}

.green-section-button > a {
  text-decoration: none;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #EA3E3B;
  color: #FFF;
  font-weight: 700;
}

.green-section-button > a:hover {
  background-color: #20456F;
  color: #FFF;
}

.image-section{
  width: 100%;
  margin-bottom: 60px;
}

.image-content {
  width: 100%;
  text-align: center;
}

.image-content > h1 {
    font-size: 36px;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 50px;
    line-height: 40px;
}

img {
  margin-left: 40px;
  margin-right: 40px;
}

.image-content > h2 {
    font-size: 32px;
    font-weight: 400;
    padding-top: 50px;
    margin-bottom: 50px;
    line-height: 40px;
}

.download-button {
    text-decoration: none;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #EA3E3B;
    color: #FFF;
    font-weight: 700;
}

.download-button:hover {
  background-color: #396941;
}

.footer-navbar {
  height: 300px;
  position: absolute;
  width: 100%;
  background: #EAEAEA;
  overflow: hidden;
}

.footer-section {
  display: inline-block;
  vertical-align: middle;
  height: 300px;
  margin-left: 100px;
  line-height: 40px;
  padding-top: 40px;
}

.footer-links-header {
  text-decoration: none;
  color: #396941;
  display: inline-block;
  font-weight: bold;
}

.footer-logo-div {
  margin-left: 10%;
  line-height: 200px;
  color: #595959;
  background-color: #EAEAEA;
}

.footer-link-div {
  float: right;
  margin-right: 10%;
}

.footer-link {
  text-decoration: none;
  color: #595959;
}

#download-button {
  padding: 8px;
  background-color: #EA3E3B;
  color: #FFF;
}

#download-button:hover {
  color: #FFF;
  background-color: #396941;
  padding: 8px;
}
