body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: #FFF; /* change to desired color */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    box-shadow: 0 3px 3px -1px rgba(0,0,0,.2);
    display: inline;

}
.nav-logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-left: 400px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */

}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
    text-decoration: none;
}

.menubar-button-section {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-right: 400px;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;    /* if you want it vertically middle of the navbar */
  font-weight: 700;
  font-size: 18px;
}

.navigation-bar .menubar-button:hover {
  color: #000;
}

.menubar-button {
  color: #595959;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

span.green-text {
    color: #396941;
}

#download-button {
  border: 1px solid #396941;
  padding: 8px;
  background-color: #396941;
  color: #FFF;
}
