body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: #FFF; /* change to desired color */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    font-weight: bolder;
}
.nav-logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
    
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
    text-decoration: none;
}

.navigation-bar .menubar-button:hover {
  color: #000;
}

.menubar-button {
  color: #595959;
}

span.green-text {
    color: #396941;
}
